<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="tado-interface" context="tado-interface" id="10500" internal_name="tado-interface" external_name="Tado Interface" version="1.0.0">
            <inputs>
				<input type="number" const_name="trigger">Trigger</input>
				<input type="string" const_name="email">E-Mail</input>
				<input type="string" const_name="password">Passwort</input>
				<input type="string" const_name="zone_1">Zone 1 (Name)</input>
				<input type="string" const_name="zone_2">Zone 2 (Name)</input>
				<input type="string" const_name="zone_3">Zone 3 (Name)</input>
				<input type="string" const_name="zone_4">Zone 4 (Name)</input>
				<input type="string" const_name="zone_5">Zone 5 (Name)</input>
				<input type="string" const_name="zone_6">Zone 6 (Name)</input>
				<input type="string" const_name="zone_7">Zone 7 (Name)</input>
				<input type="string" const_name="zone_8">Zone 8 (Name)</input>
				<input type="string" const_name="zone_9">Zone 9 (Name)</input>
				<input type="string" const_name="zone_10">Zone 10 (Name)</input>
				<input type="string" const_name="zone_11">Zone 11 (Name)</input>
				<input type="string" const_name="zone_12">Zone 12 (Name)</input>
				<input type="string" const_name="zone_13">Zone 13 (Name)</input>
				<input type="string" const_name="zone_14">Zone 14 (Name)</input>
				<input type="string" const_name="zone_15">Zone 15 (Name)</input>
				<input type="string" const_name="zone_16">Zone 16 (Name)</input>
				<input type="string" const_name="zone_17">Zone 17 (Name)</input>
				<input type="string" const_name="zone_18">Zone 18 (Name)</input>
				<input type="string" const_name="zone_19">Zone 19 (Name)</input>
				<input type="string" const_name="zone_20">Zone 20 (Name)</input>
				<input type="number" const_name="target_1" init_value="-1">Vorgabe Sollwert Zone 1</input>
				<input type="number" const_name="target_2" init_value="-1">Vorgabe Sollwert Zone 2</input>
				<input type="number" const_name="target_3" init_value="-1">Vorgabe Sollwert Zone 3</input>
				<input type="number" const_name="target_4" init_value="-1">Vorgabe Sollwert Zone 4</input>
				<input type="number" const_name="target_5" init_value="-1">Vorgabe Sollwert Zone 5</input>
				<input type="number" const_name="target_6" init_value="-1">Vorgabe Sollwert Zone 6</input>
				<input type="number" const_name="target_7" init_value="-1">Vorgabe Sollwert Zone 7</input>
				<input type="number" const_name="target_8" init_value="-1">Vorgabe Sollwert Zone 8</input>
				<input type="number" const_name="target_9" init_value="-1">Vorgabe Sollwert Zone 9</input>
				<input type="number" const_name="target_10" init_value="-1">Vorgabe Sollwert Zone 10</input>
				<input type="number" const_name="target_11" init_value="-1">Vorgabe Sollwert Zone 11</input>
				<input type="number" const_name="target_12" init_value="-1">Vorgabe Sollwert Zone 12</input>
				<input type="number" const_name="target_13" init_value="-1">Vorgabe Sollwert Zone 13</input>
				<input type="number" const_name="target_14" init_value="-1">Vorgabe Sollwert Zone 14</input>
				<input type="number" const_name="target_15" init_value="-1">Vorgabe Sollwert Zone 15</input>
				<input type="number" const_name="target_16" init_value="-1">Vorgabe Sollwert Zone 16</input>
				<input type="number" const_name="target_17" init_value="-1">Vorgabe Sollwert Zone 17</input>
				<input type="number" const_name="target_18" init_value="-1">Vorgabe Sollwert Zone 18</input>
				<input type="number" const_name="target_19" init_value="-1">Vorgabe Sollwert Zone 19</input>
				<input type="number" const_name="target_20" init_value="-1">Vorgabe Sollwert Zone 20</input>
            </inputs>
            <outputs>
                <output type="string" const_name="exception">Fehlercode</output>
				<output type="number" const_name="actual_1">Istwert Zone 1</output>
				<output type="number" const_name="target_1">Sollwert Zone 1</output>
				<output type="number" const_name="humidity_1">Feuchte Zone 1</output>
				<output type="number" const_name="actual_2">Istwert Zone 2</output>
				<output type="number" const_name="target_2">Sollwert Zone 2</output>
				<output type="number" const_name="humidity_2">Feuchte Zone 2</output>
				<output type="number" const_name="actual_3">Istwert Zone 3</output>
				<output type="number" const_name="target_3">Sollwert Zone 3</output>
				<output type="number" const_name="humidity_3">Feuchte Zone 3</output>
				<output type="number" const_name="actual_4">Istwert Zone 4</output>
				<output type="number" const_name="target_4">Sollwert Zone 4</output>
				<output type="number" const_name="humidity_4">Feuchte Zone 4</output>
				<output type="number" const_name="actual_5">Istwert Zone 5</output>
				<output type="number" const_name="target_5">Sollwert Zone 5</output>
				<output type="number" const_name="humidity_5">Feuchte Zone 5</output>
				<output type="number" const_name="actual_6">Istwert Zone 6</output>
				<output type="number" const_name="target_6">Sollwert Zone 6</output>
				<output type="number" const_name="humidity_6">Feuchte Zone 6</output>
				<output type="number" const_name="actual_7">Istwert Zone 7</output>
				<output type="number" const_name="target_7">Sollwert Zone 7</output>
				<output type="number" const_name="humidity_7">Feuchte Zone 7</output>
				<output type="number" const_name="actual_8">Istwert Zone 8</output>
				<output type="number" const_name="target_8">Sollwert Zone 8</output>
				<output type="number" const_name="humidity_8">Feuchte Zone 8</output>
				<output type="number" const_name="actual_9">Istwert Zone 9</output>
				<output type="number" const_name="target_9">Sollwert Zone 9</output>
				<output type="number" const_name="humidity_9">Feuchte Zone 9</output>
				<output type="number" const_name="actual_10">Istwert Zone 10</output>
				<output type="number" const_name="target_10">Sollwert Zone 10</output>
				<output type="number" const_name="humidity_10">Feuchte Zone 10</output>
				<output type="number" const_name="actual_11">Istwert Zone 11</output>
				<output type="number" const_name="target_11">Sollwert Zone 11</output>
				<output type="number" const_name="humidity_11">Feuchte Zone 11</output>
				<output type="number" const_name="actual_12">Istwert Zone 12</output>
				<output type="number" const_name="target_12">Sollwert Zone 12</output>
				<output type="number" const_name="humidity_12">Feuchte Zone 12</output>
				<output type="number" const_name="actual_13">Istwert Zone 13</output>
				<output type="number" const_name="target_13">Sollwert Zone 13</output>
				<output type="number" const_name="humidity_13">Feuchte Zone 13</output>
				<output type="number" const_name="actual_14">Istwert Zone 14</output>
				<output type="number" const_name="target_14">Sollwert Zone 14</output>
				<output type="number" const_name="humidity_14">Feuchte Zone 14</output>
				<output type="number" const_name="actual_15">Istwert Zone 15</output>
				<output type="number" const_name="target_15">Sollwert Zone 15</output>
				<output type="number" const_name="humidity_15">Feuchte Zone 15</output>
				<output type="number" const_name="actual_16">Istwert Zone 16</output>
				<output type="number" const_name="target_16">Sollwert Zone 16</output>
				<output type="number" const_name="humidity_16">Feuchte Zone 16</output>
				<output type="number" const_name="actual_17">Istwert Zone 17</output>
				<output type="number" const_name="target_17">Sollwert Zone 17</output>
				<output type="number" const_name="humidity_17">Feuchte Zone 17</output>
				<output type="number" const_name="actual_18">Istwert Zone 18</output>
				<output type="number" const_name="target_18">Sollwert Zone 18</output>
				<output type="number" const_name="humidity_18">Feuchte Zone 18</output>
				<output type="number" const_name="actual_19">Istwert Zone 19</output>
				<output type="number" const_name="target_19">Sollwert Zone 19</output>
				<output type="number" const_name="humidity_19">Feuchte Zone 19</output>
				<output type="number" const_name="actual_20">Istwert Zone 20</output>
				<output type="number" const_name="target_20">Sollwert Zone 20</output>
				<output type="number" const_name="humidity_20">Feuchte Zone 20</output>
            </outputs>
        </module>
    </modules>
</config>
